@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400&family=Quicksand:wght@300;400&display=swap');

:root {
    --color-accent: #d60973;
    --color-accent2: #806c36;
    --color-accent3: gray;
    --color-accent4: ghostwhite;
    --color-links: #fa6ba4;
    --color-gradient1: #bec4e6;
    --color-gradient2: #f2b1b7;
    --color-butterfly2: #fa6ba4;
    --bg-color: linear-gradient(45deg, rgba(248, 235, 252, 0.5) 19%, rgba(255, 221, 236, 1) 73%);
    --text-color: #4a4330;
    --bg-sidebox: rgba(251, 250, 252, 0.8);
    --border-dotted: #fff;
    --bg-footer: #ffd4db;
    --color-strong: #d60973;
    --border-window: inset -1px -1px #fff, inset 1px 1px #fff, inset -2px -2px #d4d4d4, inset 2px 2px #d4d4d4;
    --bg-window: rgba(255, 255, 255, 0.4);
    --bg-button: rgba(255, 255, 255, 0.7);
    --bg-nav: rgba(0, 0, 0, 0.2);
    --text-shadow: #fff;
    --bg-hover-info: rgba(255, 255, 250, 0.795);
}

[data-theme="dark"] {
    --color-accent: #ffa8c8;
    --color-accent2: #bec4e6;
    --color-accent3: #fff;
    --color-accent4: ghostwhite;
    --color-links: #ff96c0;
    --color-gradient1: #7e85ac;
    --color-gradient2: #b46673;
    --color-butterfly2: #bec4e6;
    --bg-color: linear-gradient(45deg, rgb(51, 51, 51) 19%, rgb(51, 51, 51) 73%);
    --text-color: ghostwhite;
    --bg-sidebox: rgba(44, 44, 44, 0.9);
    --border-dotted: rgb(71, 71, 71);
    --bg-footer: rgba(0, 0, 0, 0.4);
    --color-strong: #d60973;
    --bg-window: rgba(0, 0, 0, 0.4);
    --border-window: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #787878;
    --bg-button: rgba(255, 255, 255, 0.3);
    --bg-nav: rgba(0, 0, 0, 0.5);
    --text-shadow: #000;
    --bg-hover-info: rgba(0, 0, 0, 0.795);
}

@font-face {
    font-family: 'levi';
    src: url('https://dl.dropboxusercontent.com/s/83ubfevitfua7ww/Windows%20Regular.ttf');
}

/*-----------------------------------
ANCHOR DEFAULT
-----------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
}

.iframe-controls--desktop {
    display: none;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    font-family: 'MS PGothic', 'Arial', 'Verdana', sans-serif;
    font-size: 1rem;
    background-color: #fff;
    background-image: url('https://static.tumblr.com/vsycwa1/4a3rdg0km/sakurabgleft2.png'), var(--bg-color);
    color: var(--text-color);
    background-repeat: repeat-y, no-repeat;
    letter-spacing: 1px;
    background-attachment: scroll, fixed;
    background-size: 30%, auto;

}

.bg {
    background-image: url('https://static.tumblr.com/vsycwa1/4a3rdg0km/sakurabgleft2.png'), var(--bg-color) !important;
}

.bg_flowers {
    position: fixed;
    width: 60%;
    right: 0;
    opacity: 0;
    transition: 0.2s all ease-in;
}

.bg_flowers_active {
    opacity: 1;
}

ul,
label {
    margin-bottom: 0px;
}

ul li, ol li {
    list-style-position: inside;
}

a, a:visited, a:active {
    color: var(--color-links);
    text-decoration: none;
    transition: 0.2s;
}

strong, b {
    color: var(--color-accent);
}

a:hover {
    color: var(--color-accent3);
    text-decoration: none;

}

/*-----------------------------------
SECTION LAYOUT
-----------------------------------*/

/*ANCHOR HEADER*/
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    background-image: url('https://static.tumblr.com/vsycwa1/3sFrddlz2/sakurabgright.png'), linear-gradient(180deg, var(--color-gradient1), var(--color-gradient2));
    background-size: 60%, cover;
    background-repeat: no-repeat;
    background-position: right, center;
    width: 100%;
    box-shadow: 0 1px 5px #00000040;
    border-bottom: 1px dotted var(--border-dotted);
    position: relative;
}

.header_home {
    height: 100vh;
}

.header_normal {
    height: 40vh;
}

.stars_cover {
    background-image: url("https://static.tumblr.com/vsycwa1/UWqrddm0s/stars.gif");
    background-size: 200px;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    transition: all 0.5s ease;
    display: block;
    height: 100%;
}

.stars_cover:after {
    content: '\200b';
}

.stars_cover:hover {
    opacity: 1;
}

.stars_small {
    background-size: 100px;
    background-position: center;
}

header h1 {
    text-align: center;
}

#themesbypale {
    display: flex;
    align-items: baseline;
    margin-left: 2rem;
}

.themesby {
    font-family: "Quicksand";
    font-size: 4rem;
    text-shadow: 1px 1px 1px #999;
    color: #fff;
}

.by {
    font-family: "Quicksand";
    font-size: 3rem;
    text-shadow: 1px 1px 1px #999;
    color: #fff;
}

@keyframes drop {
    0% {
        opacity: 0
    }

    0% {
        transform: translateY(-700px)
    }

    70% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(0px)
    }
}

@keyframes pale {
    0% {
        opacity: 0
    }

    0% {
        display: none
    }

    0% {
        transform: translateX(700px)
    }

    10% {
        opacity: 1
    }

    20% {
        display: block
    }

    70% {
        transform: translateX(0px)
    }

    90% {
        transform: translateX(-50px)
    }

    100% {
        transform: translateX(0px)
    }
}

@keyframes orpale {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }

    ;
}

.pale {
    font-family: "Mali";
    font-size: 4.5rem;
    color: var(--color-accent);
    position: relative;
}

.pale svg {
    transform: rotate(35deg) translate(-1px, 20px);
    position: absolute;
    top: 0;
    right: -40px;
}

.orpalemomos2 {
    font-family: "levi";
    color: #fff;
    text-shadow: 1px 1px #999;
    font-size: 2rem;
    margin-top: -1rem;
    margin-left: 2.5rem;
}

.fadePale {
    animation: orpale 1s ease;
}

.header_normal h2 {
    color: var(--color-accent);
    font-size: 1.3rem;
    margin-left: 2.5rem;
}

.header_normal .enter_site {
    display: none;
}

/*ANCHOR NAVIGATION*/

.menuTools {
    display: flex;
}

.menuTools button {
    all: unset;
    width: 50px;
    text-align: center;
}

.menuTools_mobile {
    display: none;
}

.my_controls {
    position: fixed;
    margin-top: 45px;
    right: 10px;
    color: var(--color-accent);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.my_controls>div {
    cursor: pointer;
}

.iframe-controls--desktop {
    height: 54px !important;
    margin-top: 30px;
    margin-right: 30px;
    display: none;
}

.menu #menu_open:hover {
    color: var(--color-accent);
}

.menu {
    z-index: 50;
    position: fixed;
}

.menu_mobile {
    display: none;
    position: fixed;
    width: 100%;
    color: #fff;
}

.menu_mobile>div {
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    position: absolute;
    font-weight: bold;
    height: 100%;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #999;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/*Side menu*/
.sidenav {
    font-size: 1.2rem;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    /*backdrop-filter: blur(10px);
background-color: var(--bg-nav);*/
    /*font-family: 'levi';*/
    background-color: transparent;
    color: #fff;
    text-shadow: 1px 1px 1px #999;
    padding: 0px 10px 0px 0px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;

}

.nav_active {
    background: linear-gradient(90deg, var(--color-gradient1), var(--color-gradient2));
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.nav_active a {
    border-right: 1px var(--border-dotted) dotted;
}

.menulinks {
    display: flex;
}

.menulinks a {
    display: flex;
    align-items: center;
}

.menulinks img {
    vertical-align: baseline;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 0px 8px 16px;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 2px;
    /*color: var(--color-accent);*/
    color: #fff;
    width: 10rem;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .sidenav button:hover {
    color: var(--color-accent2);
    background-color: var(--bg-window);

}

.sidenav figure {
    display: inline-block;
    margin: 0;
}

.sidenav #closemenu {
    position: absolute;
    display: none;
}


.search-bar {
    flex-grow: 1;
    padding: 0px 10px;
    max-width: 250px;
    align-self: center;
}

.input_search {
    width: 0px;
    border: none;
    background-color: var(--bg-sidebox);
    border-radius: 2px;
    padding-left: 10px;
    color: var(--text-color);
    font-size: 0.9rem;
    opacity: 0;
    transition: all 0.5s ease;
}

.input_search::placeholder {
    color: var(--text-color);
    font-size: 0.9rem;
}

.search-active {
    width: 200px !important;
    opacity: 1 !important;
}

.input_search:focus {
    border: 0;
}

/*ANCHOR MAIN CONTENT*/
main {
    display: flex;
    padding: 2rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    position: relative;
    justify-content: flex-start;
    margin-top: 2rem;
}

.side {
    width: 23.125rem;
    margin-right: 4rem;
    position: sticky;
    top: 80px;
    align-self: flex-start;
    flex: 0 0 auto;
    height: 85vh;
    z-index: 60;
}

.side_box {
    margin-bottom: 1rem;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);
    background-color: var(--bg-sidebox);
    border: 1px dotted var(--border-dotted);
    border-radius: 3px;
    backdrop-filter: blur(5px);
}

.side_box:hover .stars_cover {
    opacity: 1;
}

.side_box_header, .post_header {
    position: relative;
    font-size: 1.1rem;
    background-color: #f2b1b7;
    background: linear-gradient(90deg, var(--color-gradient1), var(--color-gradient2));
    color: #fff;
}

.side_box_content {
    padding: 0.5rem;
    font-size: 0.8rem;
    /*background-image: url("assets/w01-bg-cherry_blossoms.png");
background-size: 70%;*/
}

#tos {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 500px;
    display: none;
    z-index: 52;
}

#tos_btn {
    z-index: 53;
}

#logs {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 350px;
    display: none;
    z-index: 50;
}

#logs_btn {
    z-index: 51;
}

#welcome {
    margin-right: 50px;
    z-index: 48;
}

#welcome_btn {
    z-index: 49;
}

#recent {
    margin-left: 50px;
    z-index: 46;
}

#recent .carousel-item img {
    height: 9.375rem;
}

#recent_btn {
    z-index: 47;
}

.all_themes {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.posts_list {
    width: 100%;
}

.quick_navi {
    columns: 3;
    padding: 0;
    margin-top: 1rem;
}

.quick_navi li {
    list-style-type: none;
}

/*ANCHOR FOOTER*/
footer {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    color: var(--text-color);
    text-shadow: 1px 1px 1px #999;
    font-size: 0.8rem;
    position: relative;
}

.footer_links {
    color: var(--color-links);
    text-shadow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer_links i {
    font-size: 0.4rem;
    margin: 5px 5px;
}

/*-----------------------------------
!SECTION LAYOUT
-----------------------------------*/

/*-----------------------------------
SECTION POSTS FORMAT
-----------------------------------*/

.post {
    width: 80%;
    margin-bottom: 4rem;
    min-width: 400px;
}

.window {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);
    background-color: var(--bg-sidebox);
    border: 1px dotted var(--border-dotted);
    border-radius: 3px;
    /*backdrop-filter: blur(20px);*/
    box-sizing: border-box;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 2px 2px 0.5rem;
}

.title-bar-text {
    color: #fff;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #999;
}

.side_box .title-bar-text img {
    width: 20px;
}

.title-bar-text img {
    vertical-align: auto;
}

.title-bar-controls {
    display: flex;
    position: relative;
    cursor: pointer;
    margin-right: 3px;
}

.title-bar-controls:hover {
    cursor: pointer;
}

.post_controls {
    display: flex;
    border-bottom: 1px dotted pink;
    backdrop-filter: blur(10px);
}

.post_controls a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.post_controls a:hover {
    background-color: rgba(255, 221, 236, 0.5);
}

.posts_list .window-body {
    background-size: cover;
    padding: 1rem;
    font-size: 0.9rem;
}

.posts_list .window-body .comment a, .not_reblog a, .posted_themesbypale a {
    color: var(--text-color);
    border-bottom: 2px var(--color-links) solid;
}

.posts_list .window-body .comment li, #tos li, .not_reblog li {
    list-style-image: url('https://static.tumblr.com/vsycwa1/9uerde2xg/e01-icon-circle.png');
}

.posts_list .window-body .comment li:nth-of-type(2n), #tos li:nth-of-type(2n), .not_reblog li:nth-of-type(2n) {
    list-style-image: url('https://static.tumblr.com/vsycwa1/9jbrde2yk/e10-icon-circle.png');
}

.button {
    color: var(--text-color);
    font-family: inherit;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0;
    min-width: 75px;
    min-height: 23px;
    padding: 5px 12px;
    border: none;
    backdrop-filter: blur(10px);
    border-radius: 0;
    background: var(--bg-button);
    box-shadow: inset -1px -1px #5A5A58, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.title-bar-controls button {
    all: unset;
    text-align: center;
    color: var(--color-accent3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.3rem;
    width: 1.3rem;
    line-height: 0.5rem;
    font-size: 1rem;
    border-radius: 50%;
    background: var(--bg-button);
    /*box-shadow: 1px 1px #999;*/
    transition: 0.3s all ease;
}

.title-bar-controls button:hover {
    background: rgba(255, 255, 255, 0.4);
}

.title-bar-controls button:disabled {
    background: rgba(255, 255, 255, 0.4);
    cursor: auto;
}

.posts_list .title-bar-controls button {
    font-size: 0.7rem !important;
}

.theme_info {
    font-size: 14px;
    background-color: var(--bg-hover-info);
    height: 100%;
    display: flex;
    letter-spacing: 1px;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: var(--text-color);
    backdrop-filter: blur(1px);
}

.window-body:hover .theme_info {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.theme_info ul {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    color: var(--color-accent);

}

.theme_info ul li {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0px 5px;
    border-radius: 10px;
}

.theme_tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 12px;
    padding: 20px;

}

.theme_links {
    display: flex;
    justify-content: space-around;
}

/*POSTS BY TYPE*/

.post-image {
    width: 100%;
}

.post-image img {
    width: 100%;
}

/*types*/
.audio, .video, .spotify_audio_player, .video iframe {
    width: 100%;
}

/*audio*/
.full-audio-player {
    padding: 10px;
    width: 100%;
    grid-area: info;
}

/*photosets*/
[photoset-layout] {
    height: 100%;
}

[photoset-layout] img, .npf_inst .tmblr-full img {
    transition: all 0.5s ease;
}

.photo [photoset-layout] img {
    height: 100%;
    object-fit: cover;
}

[photoset-layout] img:hover, .npf_inst .tmblr-full img:hover {
    filter: brightness(0.7);
}

[photoset-layout] div {
    cursor: pointer;
}

/*link*/
.link-excerpt {
    padding: 1rem;
    border: 2px solid var(--text-color);
    border-top-left-radius: 550px 55px;
    border-top-right-radius: 2000px 10px;
    border-bottom-right-radius: 2250px 50px;
    border-bottom-left-radius: 1500px 20px;
}

.link-name {
    font-size: 1.3rem;
}

.link-excerpt .exceprt {
    font-size: 0.8rem;
}

/*chat*/
.answer .post_content, .chat .post_content, .text .post_content, .quote .post_content {
    width: 100%;
    padding: 10px;
}

.chat-line .label {
    width: 100%;
    margin-left: 5px;
    font-weight: bold;
}

.chat-line {
    margin: 10px 0px;

}

.chat-full {
    margin-bottom: 1.5rem;
}

.question-block {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.question_text {
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    backdrop-filter: blur(50px);
    padding: 10px;
}

.reply_container {
    margin-top: 1rem;
}

.post .question_text, .post .answer_text {
    overflow: hidden;
}

.answer_container {
    margin-top: 10px;
}

.chat-text {
    text-align: left;
    margin: 0 1.5rem;
    border-bottom: 1px solid var(--text-color);
}

.asker, .answerer, .replier {
    color: var(--color-accent3);
    display: flex;
    align-items: center;
}

.reply {
    margin-top: 0.5rem;
}

.answerer {
    color: var(--color-accent3);
}

.answer-avatar {
    width: 30px;
    margin: 0px 5px;
    border-radius: 50%;
    border: 2px solid var(--color-gradient1);
}

/*quote*/
.quote .post_content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.post-quote {
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.quote .post_content p:not(.post-quote) {
    text-align: right;
    font-size: 0.8rem;
}

/*reblog & like + actions*/
.vias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.5rem;
    border-top: 1px dotted pink;
    padding: 0 1rem;
    color: var(--color-accent3);
    line-height: 1.5rem;
    vertical-align: middle;
    background-color: rgba(255, 221, 236, 0.5);
}

.vias a {
    color: var(--color-accent3);
    font-size: 0.75rem;
}

.vias a:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #999;
}

.via, .originally, .vias .source {
    font-size: 0.75rem;
    text-align: right;
}

svg {
    height: auto;
    display: block;
}

.controls, .controls:visited, .controls:active {
    height: 1.5rem;
    color: var(--color-accent3);
}

.tags_btn {
    cursor: pointer;
    color: var(--text-color);
    padding-bottom: 5px;
    height: 16px;
    background-color: transparent;
    border: none;
}

.tags_btn {
    font-size: 16px !important;
    line-height: 10px;
    transition: 0.5s all ease;
}

.tags_btn:hover {
    color: var(--accent-color);
}

.controls svg {
    width: 16px;
    fill: var(--text-color);
    transition: 0.5s all ease;
    z-index: 9;
}

.like {
    padding-left: 0 !important;
}

.like_button::after {
    content: 'Like';
}

.like_button.liked::after {
    content: 'Liked' !important;
}

.black #like svg {

    width: 50px !important;
}

.post_controls .like .like_button {
    position: relative;
    padding-left: 0.5rem;
}

.post_controls .like .like_button iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.actions_container {
    width: 100%;
    padding: 5px 10px;
    margin-top: 10px;
    transition: all 0.5s ease;
}

/*tags*/
.maintags {
    max-height: 0px;
    transition: max-height 1.5s linear;
    overflow: hidden;
}

.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.tags li {
    list-style-type: none;
    margin-right: 10px;
    font-size: 0.8rem;
}

.tags li a, .tags li a:visited, .tags li a:active {
    color: var(--accent-color2);
    transition: 0.5s all ease;
}

.tags li a:hover {
    color: var(--accent-color);
}

/*reblogs*/
.user, .commenter, .user-following, .following-container li {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
}


.source-head {
    margin-bottom: 10px;
}

.user {
    border-bottom: 2px dashed var(--accent-color2);
    padding-bottom: 10px;
    color: var(--accent-color);
}

.comment {
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment_container {
    padding-top: 5px;
}

div.caption div.comment_container:first-of-type {
    border-top: none;
}

.post-caption {
    margin-top: 1rem;
}

.commenter img:first-of-type {
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid var(--color-gradient1);
    object-fit: cover;
}

.source-head {
    margin-top: 0px !important;
}

/*notes*/
.notes {
    list-style-type: none;
    margin-top: 1rem;
}

.notes li img {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.notes li {
    font-size: 0.7rem;
    margin: 5px 0px;
}

.notes .action {
    line-height: 1.5rem;
    vertical-align: super;
}

/*pagination*/
.mobile_pagination {
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    display: none;
}

.mobile_pagination>* {
    margin: 0px 10px;
    color: var(--color-accent);
    font-size: 2rem;
    background-color: var(--bg-sidebox);
}

/*-----------------------------------
!SECTION POSTS FORMAT
-----------------------------------*/

/*-----------------------------------
SECTION UTILS
-----------------------------------*/

/*tooltips*/
[data-title-menu]:hover:before {
    opacity: 1;
}

[data-title-menu]:before {
    content: attr(data-title-menu);
    position: absolute;
    bottom: -1.5rem;
    font-size: 0.8rem;
    line-height: 1rem;
    color: var(--color-links);
    background-color: var(--bg-sidebox);
    white-space: nowrap;
    border: 1px solid var(--border-dotted);
    opacity: 0;
    z-index: 100;
    transition: all 0.5s ease;
    border-radius: 2px;
    text-align: center;
    padding: 2px 10px;
    text-shadow: none;
}

[data-title-menu] {
    position: relative;
}

.shortcuts {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}

.shortcut {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    width: 70px;
    margin-right: 1rem;
    cursor: pointer;
    color: var(--color-accent);
    border: 1px dotted transparent;
}

.shortcut:hover {
    border: 1px dotted #999;
}

.shortcut img {
    width: 30px;
    height: 30px;
}

.draggable {
    cursor: move;
}

.draggable:active {
    cursor: grabbing;
}

.logs_dl {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-bottom: 0;
}

.logs_dl dt {
    color: var(--color-gradient1);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.logs_dl dd {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px var(--color-gradient1) dashed;
}

#credit {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 12px;
    color: var(--color-accent);
}

#current_date {
    padding: 8px;
    font-size: 0.9rem;
}

#top_button {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    color: var(--color-accent);
    z-index: 99;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
}

#top_button span {
    letter-spacing: 0px;
}


.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(-80px);
    transform: scale(0.0)
}

.fade-leave-active {
    position: absolute;
}

@keyframes drop {
    0% {
        opacity: 0
    }

    0% {
        transform: translateY(-700px)
    }

    70% {
        transform: translateY(20px)
    }

    100% {
        transform: translateY(0px)
    }
}

.animation {
    animation: drop 1s ease forwards;
    animation-iteration-count: 1;
}

.animation2 {
    animation: drop 1s ease 2.5s both;
    animation-iteration-count: 1;
}

/*data titles*/
[data-title]:hover:before {
    opacity: 1;
    visibility: visible;
}

[data-title]:before {
    content: attr(data-title);
    position: absolute;
    bottom: -0.5em;
    font-size: 14px;
    padding: 4px;
    color: var(--color-accent);
    background-color: var(--bg-footer);
    white-space: nowrap;
    opacity: 0;
    z-index: 9999999;
    visibility: hidden;
    left: -70px;
    transition: all 0.5s ease;
    width: 70px;
    border-radius: 5px;
    text-align: center;
}

[data-title] {
    position: relative;
}

.kofi {
    margin-top: 10px;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    transition: all 0.5s ease;
}

.filters button {
    letter-spacing: 2px;
}

.filters.active {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 0px;
    top: 35px;
    margin: 0px auto;
    position: fixed;
}

.filters input {
    width: 200px;
    height: 34px;
    border: 1px var(--color-links) solid;
    border-radius: 5px;
    padding-left: 10px;
    margin: 0.5rem auto;
    color: var(--color-links);
    font-size: 16px;
    background-color: var(--bg-button);

}

.filters input:focus {
    border: 3px var(--color-accent) solid;
}

.filters input::placeholder {
    color: var(--color-links);
    opacity: 0.7;
}

.sort i {
    font-size: 20px;
}

.consoles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.consoles .btn-link {
    padding: 1px 5px;
    text-decoration: none;
    font-size: 16px;
    color: var(--color-links);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.consoles .btn-link:hover,
.consoles .btn-link:focus {
    color: var(--color-accent);
    text-decoration: none;
    text-shadow: 0px 0px 5px #fff;
}

.main-title {
    text-align: center;
    color: var(--color-accent);
}

#ditto {
    width: 100%;
    height: 400px;
}

/*bootstrap overwrite*/
.modal-content {
    background-color: transparent;
    border: none;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--text-color);
    background-color: var(--bg-sidebox);
    backdrop-filter: blur(5px);
    text-align: center;
}

.carousel-caption p {
    margin-bottom: 0;
    font-weight: bold;
}

.badge {
    margin-left: 0.5rem;
}

.badge.bg-success {
    --bs-bg-opacity: 0.8;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.badge.bg-secondary {
    --bs-bg-opacity: 0.7;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}


/*-----------------------------------
!SECTION UTILS
-----------------------------------*/

/*-----------------------------------
SECTION MOBILE
-----------------------------------*/

@media only screen and (max-width: 768px) {

    body {
        background-size: 100%, auto;
    }

    header {
        background-size: 100%, auto;
        background-position: top right, center;
        background-blend-mode: multiply;
    }

    .header_home {
        height: 100vh;
    }

    main {
        flex-direction: column;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        z-index: 40;
    }

    .menu_mobile {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(90deg, var(--color-gradient1), var(--color-gradient2));
    }

    .menu_mobile button, .menu_mobile a {
        all: unset;
        width: 50px;
        text-align: center;
        z-index: 10;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .menu {
        top: 0;
        left: 0;
    }

    .sidenav {
        height: 100%;
        font-size: 20px;
        width: 100vw;
        position: fixed;
        z-index: 6;
        top: 0;
        left: 0;
        backdrop-filter: blur(10px);
        background-color: var(--bg-nav);
        padding: 60px 10px 0px 10px;
        transition: 0.5s;
        transform: translateX(-100vw);
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .sidenav figure {
        width: 30px;
    }

    .menuTools {
        display: none;
    }

    .menuTools_mobile {
        display: block;
    }

    #search_button {
        display: none;
    }

    .input_search {
        width: 100%;
        opacity: 1;
    }

    .search-bar {
        max-width: 100%;
    }

    .nav_active a {
        border-right: none;
    }

    .menulinks {
        flex-direction: column;
    }

    .sidenav a {
        font-size: 25px;
        letter-spacing: 2px;
        width: 100%;
    }

    #menu_open {
        padding: 10px;
        font-size: 2rem;
        /*background-color: var(--bg-nav);*/
        color: #fff;
        line-height: 10px;
    }

    .btn_dark_mode {
        padding: 10px;
    }

    .sidenav #closemenu {
        all: unset;
        position: absolute;
        display: block;
        width: auto;
        top: 0;
        right: 10px;
        font-size: 2rem;
        color: #fff;
        -webkit-transition: .3s ease;
        transition: .3s ease;
    }

    .side_box.recent, .side_box.stats {
        display: none;
    }

    .side {
        width: 100%;
        position: static;
        height: auto;
        z-index: 30;
    }

    .post {
        width: 100%;
        min-width: auto;
    }

    .stars_cover {
        background-size: 300px;
        background-repeat: repeat;
    }

    header {
        padding-top: 0px;
    }

    #themesbypale {
        margin-top: 1.5rem;
        flex-wrap: wrap;
    }

    .themesby {
        font-size: 3rem;
    }

    .by {
        font-size: 2rem;
    }

    .orpalemomos2 {
        font-size: 1.5rem;
    }

    .enter_site {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .bg_flowers {
        top: 200px;
        width: 100%;
    }

    .filters {
        flex-direction: column;
        align-items: center;

    }

    .filters.active {
        top: 0px;
    }

    .kofi {
        display: flex;
        justify-content: center;
    }

    .quick_links>div {
        display: flex;
        justify-content: center;
    }

    .external_links {
        display: none;
    }

    #recent {
        display: none;
    }

    /*side*/
    #welcome {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    #welcome_open {
        display: none;
    }

    #logs, #recent, #tos {
        position: fixed;
        margin-left: 0;
        margin-right: 0;
        left: 1rem;
        top: 200px;
        width: 90%;
    }

    .shortcuts {
        position: fixed;
        bottom: 0;
        z-index: 24;
        width: 100%;
        left: 0;
        justify-content: center;
        background: linear-gradient(90deg, var(--color-gradient1), var(--color-gradient2));
    }

    #mobile_backdrop {
        width: 100vw;
        height: 100vh;
        background-color: var(--bg-window);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 25;
        display: none;
    }

    /*others*/
    #top_button {
        bottom: 4px;
    }

    footer {
        margin-bottom: 4rem;
    }

    .mobile_pagination {
        display: flex;
    }
}

/*-----------------------------------
!SECTION MOBILE
-----------------------------------*/

/*-----------------------------------
!SECTION SUPER HD SCREENS
-----------------------------------*/

@media only screen and (min-width: 1920px) {
    html {
        font-size: 120%;
    }

    #logs {
        width: 100%;
    }

    #tos {
       width: 600px;
    } 
}

@media only screen and (min-width: 2560px) {
    html {
        font-size: 150%;
    }

    #tos {
        width: 700px;
     } 
}

/*-----------------------------------
!SECTION SUPER HD SCREENS
-----------------------------------*/